@*Donner un type au modèle :*@
@model System.DateTime
@{
  ViewBag.Title = "Home Page";
  // 1) 
 // DateTime rightNow = ViewBag.Date;
  // 2)
  DateTime rightNow = Model;
}
@Model.Hour:@Model.Minute :@Model.Second
<div class="jumbotron">
    @if (rightNow.Hour >= 16)
    {
        <span>Bonsoir</span>
    }
    else
    {
        <span>Bonjour</span>
    }
</div>