@*Donner un type au modèle :*@
@model System.DateTime
@using MailBoxManager.Controllers
@{
    ViewBag.Title = "Home Page";
    // 1)
    // DateTime rightNow = ViewBag.Date;
    // 2)
    DateTime rightNow = Model;
}
@Model.Hour:@Model.Minute :@Model.Second
<div class="jumbotron">
    @if (rightNow.Hour >= 16)
    {
        <span>Bonsoir</span>
    }
    else
    {
        <span>Bonjour</span>
    }
    <span>, voici nos supers promos :</span>
    <ul>
        <li>@Html.ActionLink(
        linkText:"Indémodable boite X625",
        actionName:nameof(MailBoxController.Reference),
        controllerName:"MailBox",
        routeValues:new {reference="X625" },
        htmlAttributes: new { }
        )
    </li>
    <li>@Html.RouteLink(
     routeName: "boitesAuxLettres",
    linkText:"Indémodable boite X626",
    routeValues:
    // utilisation d'un objet anonyme :new {...} 
    // pour passer les paramètres de la route
    new {
        controller="MailBox",
        action =nameof(MailBoxController.Reference), reference ="X626"
    }
    )
    </li>
    </ul>
</div>
